*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-bottom: 5em;
}

.main-header {
    background: #D8D8D8;
    border: 1px solid #979797;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}

.header-title {
    color: white;
    font-size: 'Century Gothic';
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: .8;
    font-size: 2em;
    text-shadow: 1px 0 0 #979797;
}

.main-section {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: 300px 300px;
}

.aside:nth-last-of-type(1), .aside:nth-last-of-type(2) {
    background: #D8D8D8;
    border: 1px solid #979797;
}

.secondary-section {
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: 120px 120px 120px;
}

.article {
    background-color: #D8D8D8;
    border: 1px solid #979797;
}

.main-footer {
    background-color: #D8D8D8;
    border: 1px solid #979797;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.content {
    width: 150px;
    height: 150px;
    background-color: #D8D8D8;
    border: 1px solid #979797;
}

@media screen and (min-width: 1024px) {
    .main {
        width: 1024px;
        margin: 0 auto;
    }

    .main-header {
        width: 1024px;
    }

    .main-section {
        margin-top: 100px;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 20px;
        grid-template-rows: 300px;     
        margin-bottom: 20px;   
    }

    .secondary-section {
        grid-template-columns: repeat(3, 1fr); 
        grid-gap: 20px;
        grid-template-rows: 120px; 
        margin-bottom: 20px;  
    }

    .main-footer {  
        height: 200px;
        width: 1024px;
        margin: 0 auto;
    }
}